# Default ignored files
/../../Comparable./.idea/shelf/
/../../Comparable./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Comparable./.idea/httpRequests/
# Datasource local storage ignored files
/../../Comparable./.idea/dataSources/
/../../Comparable./.idea/dataSources.local.xml
